@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.text-gradient {
  color: #9879b2;
  background-image: linear-gradient(
    45deg,
    #9879b2 18%,
    #188cfa 41%,
    #ea60e0 39%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
